<div class="form-container">
  <div class="row">
    <div class="col-12">
      <p>
        <%= user.first_name %>
        <%= user.last_name %>
      </p>
      <div class="col-12">
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
