<p id="notice"><%= notice %></p>

<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 single-product text-center">
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p class="edit">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </p>

</div>
