<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 single-product text-center">
  <h2><%= @product.name %></h2>

  <p class="product-info col-sm-8 offset-sm-2">
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <%= image_tag(@product.image_url, class: "img-fluid product-img") %>

  <p class="product-info">
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>
  <p class="product-info">
    <strong>Price:</strong>
    €<%= @product.price %>
  </p>

  <%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>

  <p class="edit">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </p>

  <h5>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></h5>

  <div class="review container">
    <%= render "comment" %>
  </div>

  <div class="product-reviews">
    <%= render "new_comment" %>
  </div>

  <div class="product-reviews">
    <%= render "comments" %>
  </div>

  <p><%= will_paginate @comments %></p>

</div>
